.Deck-card-area {
  margin-top: 4em;
}

h1 {
  color: #e013d6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4em;
}

button {
  border: 2px solid #e013d6;
  font-size: 1.3em;
  padding: .3em 1em;
}

button:hover {
  background-color: rgb(223, 148, 191);
}